.card {
  height: 360px;
  width: 280px;
  box-shadow: 2px 2px 2px 2px rgb(224, 219, 219);
  padding: 10px;
  border: none !important;
  
}

.container{
  background-color: rgb(247, 247, 247) !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-left: 20px !important;
  margin-right: 0 !important;
  max-width: 1800px !important;
}

.small {
  margin: 8px;
  height: 160px;
  padding-right: 10px;
  width: 200px;
}

.cart-btn {
  padding: 5px;
  margin-top: auto;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(65, 130, 173);
  border: none;
  font-weight: bold;
  font-size: 23px;
  color: rgb(243, 243, 243);
}

.product-name {
  padding-top: 8px;
}

.product-price {
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.cart-btn:hover {
  background-color: rgb(55, 121, 165);
}

.cart-btn:active {
  background-color: white;
  border: 2px solid rgb(55, 121, 165);
  color: black;
}

.navbar-link{
  color: black;
  text-decoration: none;
}

.navbar-link:hover{
  color: black;
  text-decoration: none;

}