.card {
  height: 360px;
  width: 280px;
  box-shadow: 1px 1px 1px 1px rgb(224, 219, 219);
  padding: 10px;
  border: none;
}


.small {
  margin: 8px;
  height: 160px;
  padding-right: 10px;
  width: 200px;
}

.cart-btn {
  padding: 5px;
  margin-top: auto;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(138, 230, 101);
  border: none;
  font-weight: bold;
  font-size: 23px;
}

.product-name {
  padding-top: 8px;
}

.product-price {
  font-size: 20px;
}

.cart-btn:hover {
  background-color: rgb(80, 204, 32);
}

.cart-btn:active {
  background-color: white;
  border: 2px solid rgb(80, 204, 32);
}

.navbar-link{
  color: black;
  text-decoration: none;
}

.navbar-link:hover{
  color: black;
  text-decoration: none;

}