.menu{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(75, 143, 143);
   

}

.menu-item{
    float: left;
   
    

}
a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 6px;



}

.menu-item:hover{
    background-color: rgb(46, 44, 44);
}

.menu-item:active{
    background-color: rgb(46, 44, 44);
}

.icons{
    float: right;
    

   
}