.row-wise {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  margin-top: 0;
}

.row-wise-display {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  width: 190px;
}

.row-wise-display:hover {
  background-color: rgb(216, 211, 211);
}

.row-img {
  border-radius: 50%;
  height: 60px;
  width: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  height: 70px;
  width: 99.8%;
  background-color: rgb(75, 77, 75);
  border: 2px solid black;
}

.link-to {
  text-decoration: none;
  color: black;
}

.dashboard-btn {
  font-size: 20px;
  font-weight: bold;
  border: rgb(46, 48, 47) solid;
  padding: 14px;
  padding-top: 10px;
  background-color: rgb(75, 77, 75);
  padding-left: 14px;
  width: 180px;
  height: 70px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.search-form {
  width: 70%;
  background-color: rgb(75, 77, 75);
  border: rgb(46, 48, 47) solid;
  text-align: center;
}

.search-btn {
  padding: 12px;
  background-color: rgb(114, 117, 115);
  border: none;
  color: white;
  width: 10%;
}

.search-input {
  padding: 10px;
  margin: 8px;
  width: 40%;
  margin-right: 0px;
}


.linked{
  text-decoration:none;
  color: white;
}

.my-cart-btn{
  padding: 15px;
  color: white;
  width: 10%;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: rgb(46, 48, 47) solid;

}

 button.my-cart-btn, button.logout-btn{
  width: 180px;
  height: 70px;
  
}

button.my-account-btn{
  width: 200px;
  height: 70px;
}

.logout-btn{
  padding: 15px;
  color: white;
  width: auto;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  
}

.mycart, .logout{
  color: white;
  margin-left: 20px;
  
}

.my-account{
  margin-left: 10px;
  margin-right: 10px;
}

.cart-icon{
  margin-right: 20px;

}

.cart-icon,
.account-icon,
.logout-icon {
  position: absolute;
  display: block;
  color: white;
}

.my-account-btn,
.logout-btn {
  width: 10%;
  text-align: center;
  padding-left: 25px;
  font-size: 22px;
  border: rgb(46, 48, 47) solid;
  background-color: rgb(75, 77, 75);
  cursor: pointer;
  color: white;
}

.my-account-btn {
  width: 12%;
}
.my-cart,
.my-account {
  padding-left: 25px;
}

.my-cart-btn:hover,
.my-account-btn:hover,
.logout-btn:hover, 
.dashboard-btn:hover{
  background-color: rgb(48, 49, 48);
}

.my-cart-btn:active,
.my-account-btn:active,
.logout-btn:active,
.dashboard-btn:active {
  background-color: rgb(191, 196, 191);
  color: black;
}
