.dasboard-menu{
    /* display: block;
    list-style-type: none; */
    background-color: rgb(34, 37, 36);
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
   
    
    
}



.dashboard-menu-item{
    float: left;
    display: inline;
    background-color: rgb(34, 37, 36);
    color: white;
    padding: 12px;
    
}

.dashboard-menu-item:hover{
    background-color: rgb(18, 218, 184);
}