.product-list {
  background-color: rgb(240, 240, 240);
}
.link {
  text-decoration: none;
  color: black;
}

.shop-by-category {
  width: 98.7%;
  border: 2px solid rgb(179, 231, 240);
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(179, 231, 240);
}
.shop-by-category-span {
  font-size: 30px;
}

.category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  background-color: rgb(197, 232, 238);
}

.category-img {
  height: 150px;
  width: 180px;
  margin: 30px;
}

.ad {
  width: 99%;
  padding: 10px;
  height: 20%;
  margin-left: 0;
  margin-right: 0px;
  padding-right: 0px;
}

.category-card {
  padding: 12px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgb(133, 132, 132);
  margin: 20px;
  display: flex;
  flex-direction: row;
  width: 500px;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgb(172, 238, 238);
}

.img-description {
  font-size: 25px;
  padding: 60px;
  margin: 20px;
}

.category-card:hover {
  background-color: rgb(146, 236, 236);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 8%;
}

.small {
  height: 200px;
  width: 250px;
  margin: 10px;
  padding: 10px;
}

.product-name {
  border: 3px solid rgb(76, 159, 236);
  font-size: 25px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(76, 159, 236);
  margin: 10px;
}

.row-items {
  background-color: white;
  padding: 10px;
  border: none;
  margin: 10px;
  margin-left: 40px;
  height: 250;
  width: 300px;
  box-shadow: 2px 2px 2px 2px rgb(133, 132, 132);
}

.add-to-cart-btn {
  width: 97%;
  background-color: rgb(145, 214, 197);
  border: rgb(145, 214, 197);
  padding: 6px;
  border-radius: 6px;
  margin: 5px;
  color: white;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background-color: rgb(79, 175, 151);
}
.add-to-cart-btn:active {
  background-color: white;
  border: 1px solid rgb(79, 175, 151);
  color: black;
}

h3 {
  font-size: 25px;
  margin: 10px;
}

.price {
  font-size: 22px;
  padding: 3px;
  margin: 8px;
  width: 40%;
}

.account-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.account-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.account-content a:hover {
  background-color: #ddd;
}

.my-account:hover .account-content {
  display: block;
}
