.form-title {
  text-align: center;
}

.login-form {
  background-color: white;
  padding: 20px;
  margin-top: 5%;
  margin-left: 38%;
  height: auto;
  width: 500px;
  border: 1px solid black;
}

.form-label {
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
}

.form-input {
  font-size: 20px;
  padding: 10px;
  height: 30px;
}

input.error {
  border-color: red;
  margin-top: 20px;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: 15px;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-btn {
  margin-top: 80px;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
  width: 100%;
}

.login-btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}

.form-title {
  font-weight: bold;
  padding: 20px;
}
